<%= form_with(model: continent) do |form| %>
  <% if continent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(continent.errors.count, "error") %> prohibited this continent from being saved:</h2>

      <ul>
        <% continent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-4 field">
    <%= form.label :continent_code %>
    <%= form.text_field :continent_code, class:"form-control form-control-sm" %>
  </div>

  <div class="col-4 field">
    <%= form.label :name_pl %>
    <%= form.text_field :name_pl, class:"form-control form-control-sm" %>
  </div>

  <div class="col-4 field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en, class:"form-control form-control-sm" %>
  </div>

  <div class="col-4 field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name, class:"form-control form-control-sm" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-sm btn-primary" %>
  </div>
<% end %>
